<header class="main-header">
  <div class="main-container header-container">
    <div class="logo">
      <img src="./assets/images/logo.png" alt="FitSync logo" class="logo-img" />
      <span>fitSync</span>
    </div>
    <div *ngIf="userDetails" class="user">
      <img
        class="user-photo"
        [src]="userDetails.photoURL"
        alt="User Profile Image"
        loading="lazy"
        (click)="toggleProfileMenu()"
        (error)="useFallbackUserProfilePhoto($event)"
      />
      <app-profile-menu
        [hidden]="hideProfileMenu"
        (toggleProfileMenu)="toggleProfileMenu()"
      ></app-profile-menu>
    </div>
  </div>
</header>
