<div>User Registration</div>
<h1>Registration Form</h1>
<p>Please fill in the details.</p>
<form class="userRegistrationForm">
  <app-fs-input
    name="name"
    placeholder="Name"
    id="name"
    [(ngModel)]="userName"
  ></app-fs-input>
  <app-fs-input
    name="age"
    placeholder="Age"
    id="age"
    [(ngModel)]="userAge"
  ></app-fs-input>
  <app-fs-input
    name="height"
    placeholder="Height im cm"
    id="height"
    [(ngModel)]="userHeight"
  ></app-fs-input>
  <app-fs-input
    name="weight"
    placeholder="Weight"
    id="weight"
    [(ngModel)]="userWeight"
  ></app-fs-input>
  <app-fs-input
    name="goal"
    placeholder="goal"
    id="goal"
    [(ngModel)]="userGoal"
  ></app-fs-input>
</form>
<app-fs-button buttonText="Register" (click)="registerUser()"></app-fs-button>
