<section class="landing-page">
  <div class="main-container">
    <div class="tagline">
      <div class="line-1">Track Workouts</div>
      <div class="line-2">Build Muscle</div>
      <div class="line-3">Stay Consistent</div>
    </div>
    <ul class="feature-list">
      <li class="feature">
        <div class="feature-brief">Log your sets & reps</div>
        <img src="./assets/icons/logs.svg" alt="" class="feature-icon" />
      </li>
      <li class="feature">
        <div class="feature-brief">Track weekly progress</div>
        <img src="./assets/icons/progress.svg" alt="" class="feature-icon" />
      </li>
      <li class="feature">
        <div class="feature-brief">Track nutrition</div>
        <img src="./assets/icons/food.svg" alt="" class="feature-icon" />
      </li>
      <li class="feature">
        <div class="feature-brief">Control your YouTube playlist</div>
        <img src="./assets/icons/music.svg" alt="" class="feature-icon" />
      </li>
    </ul>

    <div class="sign-up-form">
      <!-- Phone Login -->
      <form (ngSubmit)="sendOTP()" *ngIf="!otpSent" class="send-otp-form">
        <app-fs-input
          name="phone"
          placeholder="Enter mobile number"
        ></app-fs-input>
        <app-fs-button type="submit" buttonText="Send OTP"></app-fs-button>
      </form>

      <!-- Divider -->
      <div class="divider">OR</div>

      <!-- Google Sign-In -->
      <app-fs-button
        class="google-signin-btn"
        [fullWidth]="true"
        buttonText="Sign Up with Google"
        (click)="signInWithGoogle()"
      ></app-fs-button>
    </div>

    <form (ngSubmit)="verifyOTP()" *ngIf="otpSent">
      <input
        type="text"
        [(ngModel)]="otpCode"
        name="otp"
        placeholder="Enter OTP"
        required
      />
      <button type="submit">Verify OTP</button>
    </form>
  </div>
</section>
